@import '../../../assets/styles/variables.scss';

#modal-dropdown {
    .dropdown-title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    
        img {
            width: 50px;
            transition: transform 0.3s ease;
            
            body.dark & {
                filter: invert(100%) brightness(100%) sepia(0) saturate(100%) hue-rotate(0deg);
              }
        }
    
        .rotated {
            transform: rotate(180deg);
        }
    }
    
    .dropdown-content {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
    
        &.open {
            max-height: 700px;
            opacity: 1;
          }
    
        &.closed {
            max-height: 0;
            opacity: 0;
        }
      }
}



  