#contact {
    .contact-content {
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        font-size: 1.2em;

        &> * {
            text-align: center;
        }
        
        a {
            text-decoration: none;
            color: inherit;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}