#contact {
    .contact-content {
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        font-size: 1.2em;

        &> * {
            text-align: center;
        }
        
        a {
            text-decoration: none;
            color: inherit;
            transition: transform 0.3s ease;
            width: 25%;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 500px) {
    #contact {
        .contact-content {
           display: flex;
           flex-wrap: wrap;

        }
        a {
            flex: 1 1 45%; // Les éléments prennent 45% de la largeur, permettant le wrap
            max-width: 45%; // Empêche les éléments d'être trop larges
            text-align: center; 
        }
    }
  }

