@import '../../assets/styles/variables';

#contactForm {

    form {
        display: flex;
        flex-direction: column;
        margin: 0 200px 150px 200px;

        label {
            display: none;
        }

        input, textarea {
            margin: 15px 0;
            border-radius: 10px;
            background-color: #201F23;
            border: 1px solid #201F23;
            padding: 15px 30px;
            font-size: 1.5em;
            color: white;
            font-family: 'Roboto Mono', monospace;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            

            &:focus {
                background-color: $secondary-color;
                border: 1px solid #201F23;
                color: black;
            }

            &:focus-visible {
                outline: none;
            }

            &:hover {
                border: 1px solid $secondary-color;
            }
        }

        textarea {
            height: 200px;
            resize: none;

        }

        .submit {
            background-color: $secondary-color;
            color: black;
            cursor: pointer;
            font-weight: bold;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border: 1px solid $secondary-color;
            transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

            
            &:hover {
                background-color: #201F23;
                color: $secondary-color;
                border: 1px solid $secondary-color;
            }
        }
    }

    @media (max-width: 1440px) {
        form {
            margin: 0 0 150px 0;
        }
      }

}
.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px 20px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-30px);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    z-index: 9999;
}

.popup.success {
    background-color: #155724;
}

.popup.error {
    background-color: #721c24;
}

.popup.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}
