@import '../../assets/styles/variables';

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(26, 25, 29, 1);
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.5s ease, background-color 0.5s ease;
  height: 100%;

  &.scroll-started {
    top: -140px;
  }

  &.scrolled {
    height: 140px;
    position: fixed;
    top: 0;
  }

    .name {
      position: absolute;
      top: 50px;
      left: 40px;
      font-weight: bold;
      font-size: 30px;
      color: $light-blue-color;
      cursor: pointer;
      transition: filter 0.3s ease;

      .point {
        color: white;
      }

      .underscore {
        color: #9B37FF;
      }
    }

    div:hover {
      filter: brightness(0.7);
    }

    nav {
      flex: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        display: inline-flex;
        padding: 0;
        list-style-type: none;

        li {
          margin: 0 40px;
          font-size: 20px;
          cursor: pointer;
          transition: color 0.3s ease;

          &:hover {
            color: $light-blue-color;
          }

          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }

    .burger-menu {
      all: unset;
      cursor: pointer;
      margin-right: 100px;
      display: none;
    }
  }

.header-container {
  height: 140px;
}



@media (max-width: 1800px) {
  .name {
    display: none;
  }
}

@media (max-width: 920px) {
  .name {
    display: flex;
  }
}

@media (max-width: 920px) {

  #header {
    justify-content: right;
    height: 140px;

    .burger-menu {
      display: flex;
    }

    .nav-menu {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 140px;
      background-color: $primary-color;
      border-radius: 10px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      width: 100%;
      padding: 20px 0;

      ul {
        flex-direction: column;
        gap: 40px;
      }
    }

    .nav-menu.menu-open {
      display: flex;

    }
  }
}