@import '../../assets/styles/variables.scss';

#footer {
    background-color: #201F23;
    margin-top: 100px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;

    p {
        font-size: 1.1em;
        color: $light-blue-color;
        margin: 0;
    }
}