#skillCard {
    border: solid var(--text-color);
    padding: 30px;

    .card-header{
        display: flex;
        align-items: center;

        img {
            margin-right: 30px;
        }

        h3{
            position: relative;
            font-size: 1.7em;
        }

        h3::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 1px;
            width: 60%;
            height: 10px;
            background-color: var(--bar-color);
            z-index: -1;
          }
    }

    .card-content {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        font-size: 1.1em;

        .decoration{
            color: #b3b3b3;
            display: flex;
            flex-direction: column;
            align-items: center;

            .vertical-line {
                margin: 10px 0;
                width: 1px;
                background-color: #b3b3b3;
                height: 85%;
            }
        }
    }
}

@media (max-width: 500px) {
    #skillCard {
        .card-header {
            img {
                width: 50px;
                margin-right: 15px;
            }
        }
        .card-content {
            .decoration {
                display: none;
            }
        }
        padding: 20px;
        .card-header {
            h3 {
                font-size: 1.2em;
            }
        }
  }
}

