@import '../../../assets/styles/variables.scss';

.modal-content {
  position: relative;
  background-color: var(--primary-color);
  padding: 40px 40px 40px 50px;
  border-radius: 10px;
  width: 700px;
  height: 70%;
  outline: none;
  overflow-y: auto;
  scrollbar-gutter: stable;

  transform: scale(0);
  opacity: 0;
  animation: scaleIn 0.4s forwards;
}

.modal-content.closing {
  animation: scaleOut 0.4s forwards;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeInOverlay 0.4s forwards;
  margin-top: 65px;
}

.modal-overlay.closing {
  animation: fadeOutOverlay 0.4s forwards;
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutOverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.link-and-close {
  display: flex;
  justify-content: space-between;

  .link {
    display: flex;
    font-size: 20px;
    color: $light-blue-color;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 32px;
      height: 32px;
    }

    p {
      margin: 0 0 0 10px;
    }
  }

  .close-button {
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: right;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

.modal-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;

  h3 {
    text-align: center;
    font-size: 40px;
    width: 45%;
  }

  .screen-container {
    display: flex;
    justify-content: center;
    width: 55%;

    img {
      width: 500px;
      display: block;
      z-index: -1;
    }
  }
}

.modal-body {
  h4 {
    font-size: 30px;
    margin: 20px 0;
  }
}

.modal-content::-webkit-scrollbar {
  width: 10px;
}
.modal-content::-webkit-scrollbar-thumb {
  background: #5c6162;
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #46494a;
}

.modal-content::-webkit-scrollbar-track {
  background: $primary-color;
  border-radius: 10px;
}

.gallery-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  gap: 30px;
  margin: 16px 0;

  img {
    width: 100%;
    height: 200px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}


.image-modal-overlay {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  .image-modal-content {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 8px;

    .image-modal-header {
      position: absolute;
      right: -30px;
      top: -30px;

      
      .close-button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
        transition: opacity 0.3s ease;
      
        &:hover {
          opacity: 0.8;
        }
      }
    }
    

    .image-modal-body {
      img {
        max-width: 80vw;
        max-height: 80vh;
        object-fit: contain;
        border-radius: 10px;

      }
    }
  }
}
:focus {
  outline: none;
}

@media (max-width: 768px) {
  .modal-content {
      width: 80vw;
      height: 600px;
      .modal-header {
        .screen-container {
          img {
            width: 300px;
          }
        }
        h3 {
          font-size: 30px;
        }
      }
      .modal-body {
        h4 {
          font-size: 20px;
        }
      }
      
      .gallery-image {
        gap: 20px;
        img {
          height: 100%;
        }
      }
  }
}

@media (max-width: 500px) {
  .modal-content {
    padding: 20px 20px 20px 30px;
  }
  .modal-header {
      flex-direction: column-reverse;
      h3 {
        width: 100%;
        margin: 0;
        br:first-of-type {
          display: none;
        }
      }
  }
}