@import './assets/styles/variables';

body {
  margin: 0;
  background-color: $primary-color;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px
}

.header-and-presentation{
  height: 100vh;
}

h2 {
  color: $secondary-color;
  font-size: 3.5em;
  text-align: center;
  margin: 120px 0 80px 0;
}

body::-webkit-scrollbar {
  width: 15px; /* Largeur de la scrollbar */
}
body::-webkit-scrollbar-thumb {
  background: #5c6162;
  border-radius: 10px;

  &:hover {
    background: #46494a;
  }
}

body::-webkit-scrollbar-track {
  background: $primary-color;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .main-container {
      padding: 0 50px;

  }
}
