body {
  margin: 0;
  background-color: #1A191D;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-and-presentation{
  height: 100vh;
}

h2 {
  font-size: 3.5em;
  text-align: center;
  margin-top: 120px;
}