#banner {
    background-image: url("../../assets/banner.webp");
    background-size: auto 100vh;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;

    .name-and-job {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
      font-weight: bold;
      font-size: 8em;

      h1{
        font-size: 1.1em;
        text-align: center;
        margin-top: 0;
      }

      .first-name {
        margin-left: -200px;
      }
    
      .last-name {
        margin-bottom: 100px;
        margin-left: 200px;
      }
    
      .job {
        font-size: 40px;
      }
    }
  

  }

    @media (max-width: 768px) {
      #banner {
        .name-and-job {
          h1 {
            font-size: 0.5em;
          }
        }
      }
    }
  
    @media (max-width: 500px) {
      #banner {
        .name-and-job {
          text-align: center;
  
          .first-name {
            margin-left: 0;
          }
  
          .last-name {
            margin-bottom: 100px;
            margin-left: 0;
          }
        }
      }
    }


