.banner {
    background-image: url("../../assets/banner.png");
    background-size: auto 100vh;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name-and-job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 8em;
  }

  .first-name {
    margin-left: -200px;
  }

  .last-name {
    margin-bottom: 100px;
    margin-left: 200px;
  }

  .job {
    font-size: 40px;
  }
  