@import '../../../assets/styles/variables.scss';

#experience-dropdown {
    margin: 0 200px;

    .dropdown-title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #201F23;
        border-radius: 10px;
        padding: 0 30px;

        h3 {
            font-size: 1.2em;
            color: white;
        }

        .date {
            text-align: right;
            font-size: 0.9em;
            color: #b3b3b3;
        }

        img {
          transition: transform 0.3s ease;
        }

        .rotated {
            transform: rotate(180deg);
        }
    }

    .date-and-arrow {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .dropdown-content {
        color: black;
        display: flex;
        align-items: center;
        gap: 20px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        background-color: $secondary-color;
        padding: 10px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: max-height 0.3s ease, opacity 0.3s ease, margin 0.3s ease;

        &.open {
            margin: 20px 0;
            max-height: 800px;
            opacity: 1;
        }

        &.closed {
            max-height: 0;
            opacity: 0;
        }

        .content-header {
            display: flex;
            gap: 40px;
            font-size: 1em;
            font-weight: bold;
            margin-top: 10px;

            .enterprise-name {
                display: flex;
                gap: 10px;
                align-items: center;
                
                p {
                    margin: 0;
                }
            }

            .localisation {
                display: flex;
                gap: 10px;
                align-items: center;
                margin: 0;

                p {
                    margin: 0;
                }
            }
        }

        .text-information {
            width: 75%;
        }

        .logo {
            width: 25%;
            text-align: center;

            img {
                width: 200px;
                border-radius: 10px;
            }
        }

        .skills {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            list-style-type: none;
            padding: 0;

            li {
                color: white;
                background-color: #201F23;
                padding: 5px 10px;
                border-radius: 50px;
            }
        }
    }

}

@media (max-width: 1440px) {
    #experience-dropdown {
        margin: 0;
    }
}

  
@media (max-width: 1000px) {
    #experience-dropdown {
        .dropdown-content {
            .text-information {
                width: 85%;
            }

            .logo {
                width: 15%;

                img {
                    width: 100px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #experience-dropdown {
        .dropdown-content {
            flex-direction: column;
            .text-information {
                width: 100%;
            }

            .logo {
                width: 100%;

                img {
                    width: 200px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #experience-dropdown {
        .dropdown-title-box {
            .date-and-arrow {
                gap: 15px;
            }
        }
        .dropdown-content {
            .text-information {
                font-size: 0.9em;
            }
        }
    }
}